<h2>Before Deploy:</h2>
<ul id="integrations" data-url="" data-sortable="true">
<% @installed_integrations.each.with_index do |installed_integration, index| %>
  <li class="stage-bar bar list-unstyled clearfix sortable" data-id="integration_id_<%- installed_integration["identifier"] %>">
    <div class="btn-group pull-right">
      <h1>
      	<%= link_to installed_integration["name"], "/admin/integrations/#{installed_integration["identifier"]}" %>
      	(<%= show_enabled(@integrations[installed_integration["identifier"]]) %>)
      </h1>
      <p><%= installed_integration["description"] %></p>
    </div>
  </li>
<% end %>
</ul>
<h2>After Deploy:</h2>
