<% content_for :page_title, @identifier %>

<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @identifier %></td>
      <td>&nbsp;</td>
    </tr>
  </tbody>
</table>
